
#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px
  }#map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
    margin-bottom: 30px;
    padding: 0px;
}