#searchtitle{
    text-align: center;
    color: white;
    margin: 0px;
    font-size: 40px;
}
#searchform {
display: flex;
justify-content: center;
align-items: center;
gap: 18px;
margin: 30px;
}
.inputs {
    font-size: 30px;
    text-align: center;
}
#searchbutton{
font-size: 30px;

}
button:hover{
    background-color: aqua;
}
#searchcomponent{
    background-color: black;
    height: 200px;
    margin: 40px;
  animation: electric 1s infinite alternate; 

}
@keyframes electric {
    0% {
      box-shadow: 0 0 5px 2px aqua, 0 0 10px 5px aqua;
    }
    100% {
      box-shadow: 0 0 10px 5px aqua, 0 0 15px 10px aqua;
    }
  }