#headerbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height:50px;
  background-color: hsl(204, 70%, 53%);
  color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin: 0px;
  }
#logo {
margin: 0px;
padding: 0px;
height: 100px;
align-items: left;
mix-blend-mode:darken;
}