#datacontainer{
    background-color: greenyellow;
}
#title{
font-size: 55px;
text-align: center;

}
#cityname{
    font-size: 55px;
text-align: center;
}
#temperture{
    font-size: 55px;
text-align: center;


}

